<div *ngIf="loadingOverlayFlag == true" id="loadingOverlay" class="loadingOverlay pageOverlay">
  <div class="loadingMessage">&nbsp;</div>
</div>
<h2 class="dialog-title" mat-dialog-title mat-dialog-draggable-title>Opt Out</h2>
<div>
  <label for="pwd" class="required" style="font-size: 16px; color: #707070; padding: 0 15px 15px 15px;">You have
    selected
    following chases from Auto renewal</label>
</div>
<mat-dialog-content class="dialog-content">
  <div class="mat-tables">
    <div class="mat-header-rows">
      <div class="mat-header-cells">Select</div>
      <div class="mat-header-cells">Autorenew ID</div>
      <div class="mat-header-cells">Tier1</div>
      <div class="mat-header-cells">Tier2</div>
      <div class="mat-header-cells">Payer</div>
      <div class="mat-header-cells" style="flex: 1.5!important">Last Notification Date</div>
      <div class="mat-header-cells">Modified Date</div>
      <div class="mat-header-cells">Total</div>
      <div class="mat-header-cells" style="flex: 0.2!important"></div>
    </div>
    <div *ngFor="let records of allItems; let index=index">
      <div class="mat-rows">
        <div class="mat-cells">
          <mat-checkbox type="checkbox" (change)="selectAll($event.checked)" [(ngModel)]="selectAllFlag">
          </mat-checkbox>
        </div>
        <div class="mat-cells">{{data.autorenew_id}}</div>
        <div class="mat-cells"[innerHTML]="tier1"></div>
        <div class="mat-cells" [innerHTML]="tier2"></div>
        <div *ngIf="data.new_payer == null" class="mat-cells" [innerHTML]="data.payer"></div>
        <div *ngIf="data.new_payer != null" class="mat-cells"  [innerHTML]="data.new_payer"></div>
        <div class="mat-cells" style="flex: 1.5!important">{{data.previous_reminder_date| date: globalDateFormat.dateformat}}</div>
        <div class="mat-cells">{{data.updatedOn| date: globalDateFormat.dateformat}}</div>
        <div class="mat-cells">{{data.currency_code}} {{data.sum_OF_avaya_list_price}}</div>
        <div class="mat-cells" style="flex: 0.2!important">
          <div class="center" *ngIf="isCollapsed[index]"
            (click)="isCollapsed[index] = !isCollapsed[index]; quotesList(data.autorenew_id)"
            [attr.aria-expanded]="isCollapsed[index]" [attr.aria-controls]="'collapseViewMore-' + index">
            <i class="material-icons" style="color: red;cursor: pointer">add</i>
          </div>
          <div class="center" *ngIf="!isCollapsed[index]" (click)="isCollapsed[index] = !isCollapsed[index]">
            <i class="material-icons" style="color: red;cursor: pointer">remove</i>
          </div>
        </div>
      </div>
      <div [id]="'collapseViewMore-' + index" [collapse]="isCollapsed[index]">
        <div class="table-accordion" style="grid-template-columns: 1fr!important; padding: 15px;">
          <p class="quotes_title" style="margin-bottom: 5px;">Quotes Details</p>

          <mat-table #table [dataSource]="quoteDetails" style="border: 1px solid grey;">
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef style="max-width:7%;">Select</mat-header-cell>
              <mat-cell *matCellDef="let row" style="max-width:7%;padding-left:30px;">
                <mat-checkbox type="checkbox" [(ngModel)]="row.checked"
                  [disabled]="row.is_eligible === 'N' || row.quote_sub_status == '6' || row.quote_sub_status == '8'"
                  (change)="onChangeCheckbox(row.quote_id, $event.checked)" matTooltip="This Quote is not Eligible"
                  [matTooltipDisabled]="row.is_eligible === 'Y'"></mat-checkbox>

                <!-- <mat-checkbox [(ngModel)]="row.checked" [disabled]="row.is_eligible === 'N' || row.quote_sub_status=='5' ||
                row.quote_sub_status=='7'" (change)="onChangeCheckbox(row.parent_qrn, $event.checked,record)"
                  [aria-label]="checkboxLabel(row)" matTooltip="This Quote is not Eligible"
                  [matTooltipDisabled]="row.is_eligible === 'Y'">
                </mat-checkbox> -->
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="quote_id">
              <mat-header-cell *matHeaderCellDef> Quote ID </mat-header-cell>
              <mat-cell *matCellDef="let element" style="word-break:break-word;">
                {{element.parent_QUOTE_ID}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="expiring_contractnumber">
              <mat-header-cell *matHeaderCellDef> Contract Number </mat-header-cell>
              <mat-cell *matCellDef="let element" style="word-break:break-word;">
                {{element.expiring_contractnumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="contract_expiry_date">
              <mat-header-cell *matHeaderCellDef> Contract Expiry Date </mat-header-cell>
              <mat-cell *matCellDef="let element" style="word-break:break-word;">
                {{element.contract_expiry_date| date: globalDateFormat.dateformat}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="includePromotion">
              <mat-header-cell *matHeaderCellDef> Include Promotion </mat-header-cell>
              <mat-cell *matCellDef="let element" style="word-break:break-word;">
                {{element.is_promotion_applied}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="quoteSubStatusName">
              <mat-header-cell *matHeaderCellDef> Opt In/Out </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <!-- <div *ngIf="element.quoteSubStatusName != 'OptedOut'" style="color:green">
                  IN </div>
                <div *ngIf="element.quoteSubStatusName == 'OptedOut'" style="color:red">
                  OUT
                </div> -->
                <div *ngIf="element.quote_sub_status == '5' || element.quote_sub_status == '7'" style="color: green">IN</div>
                <div *ngIf="element.quote_sub_status == '6'" style="color: red">OUT</div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="total_contract_value">
              <mat-header-cell *matHeaderCellDef> Quote Price </mat-header-cell>
              <mat-cell *matCellDef="let element" style="word-break:break-word;">
                {{element.currency_code}} {{element.avaya_list_price}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Quote_status">
              <mat-header-cell *matHeaderCellDef> Quote Status </mat-header-cell>
              <mat-cell *matCellDef="let element" style="word-break:break-word;">
                 {{element.quoteSubStatusName}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="subdisplayedColumns;sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: subdisplayedColumns;let element" class="element-row"
              [ngClass]="{ 'ineligible-row': element.is_eligible === 'N'}">
            </mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-content class="dialog-content">
  <div class="po_formfields">
    <mat-form-field>
      <mat-label>Reason</mat-label>
      <mat-select (selectionChange)="popUpMethod($event,selectedReason)" [(ngModel)]="selectedReason" required>
        <mat-option *ngFor="let fields of reason_codes" [value]="fields">{{fields}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Comment" [(ngModel)]="selectedComment"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-footer">
  <div class="table-accordion">
    <div class="accordion-col3">
      <mat-label>Do you wish to proceed ?</mat-label>
      <button class="btn btn-secondary button-cancel" (click)="cancel()">No</button>
      <button class="btn btn-secondary button-ok" (click)="optout()"
        [disabled]="checkAllField() || selectedReason == undefined">Yes</button>
    </div>
  </div>
</mat-dialog-actions>