<div *ngIf="loadingOverlayFlag == true" id="loadingOverlay" class="loadingOverlay pageOverlay">
  <div class="loadingMessage">&nbsp;</div>
</div>

<div class="example-container" style="border: 2px solid #e5dcdc;border-bottom: 6px solid #a3cae9;">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef style="max-width:7%;">Select</mat-header-cell>
      <mat-cell *matCellDef="let row" style="max-width:7%;padding-left:30px;height:120px;"
        (click)="$event.stopPropagation()">
        <mat-checkbox style="color:red" (change)="$event ? selection.toggle(row) : null"
          (change)=" onChange(row, $event.checked)" [checked]="selection.isSelected(row)"
          [disabled]="row.status_id == '6'" [aria-label]="checkboxLabel(row)" [(ngModel)]="row.checked"
          (click)="$event.stopPropagation()">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="autorenew_id">
      <mat-header-cell *matHeaderCellDef> Auto Renew ID </mat-header-cell>
      <mat-cell *matCellDef="let element" style="height:120px;padding-bottom: 24px;" (click)="$event.stopPropagation()">
        <div>
          <div class="subrow_1"><a
              [routerLink]="['/chasedetails/',element.autorenew_id,element.t1soldto]">{{element.autorenew_id}}</a></div>
          <div class="subrow_2">{{element.status_name}}</div>
          <!-- <div class="subrow_3_promise" *ngIf="element.promise_date != null && !element.promiseDateflag"> -->
          <div class="subrow_3_promise"
             *ngIf="element.status_id!='6' && element.promise_date != null && !element.promiseDateflag">
            PromiseDate:{{element.promise_date | datex:'DD-MMM-YYYY'}}</div>
          <div class="subrow_3" *ngIf="element.tiertype == 'T1' || element.tiertype == null">
            <!-- ***PO Submit && PO Promise** !-->
            <span *ngIf="element.status_id == '2' || element.status_id == '3' || element.status_id == '7'">
              <span *ngIf="!element.promiseflags && PoSubmitFlag">
                <mat-icon class="example-tab-icon" title="PO Submit" (click)="posubmitDialog(element)">check</mat-icon>
              </span>
              <span *ngIf="element.promiseflags && PoSubmitFlag">
                <mat-icon class="example-tab-icon" style="color:gray"
                  title="You can no longer po-submit of this renewal as the renewal date has passed.">check</mat-icon>
              </span>
              <span *ngIf="element.promiseflags">
                <mat-icon class="example-tab-icon" style="color:gray"
                  title="You can no longer po-promise of this renewal as the renewal date has passed.">all_inclusive
                </mat-icon>
              </span>
              <span *ngIf="!element.promiseflags">
                <mat-icon class="example-tab-icon" title="PO Promise" (click)="popromiseDialog(element)">all_inclusive
                </mat-icon>
              </span>
            </span>
            <!-- Change Payer-->
            <span
              *ngIf="element.status_id == '2' || element.status_id == '3' ||  element.status_id == '6' || element.status_id == '7'">
              <span *ngIf="element.promiseflags">
                <mat-icon class="example-tab-icon" style="color:gray"
                  title="You can no longer payer of this renewal as the renewal date has passed.">monetization_on
                </mat-icon>
              </span>
              <span *ngIf="!element.promiseflags">
                <mat-icon class="example-tab-icon" title="Payer" (click)="changepayerDialog(element)">monetization_on
                </mat-icon>
              </span>
            </span>

            <!-- *** opt-in** !-->
            <span *ngIf="(element.status_id == '2' || element.status_id == '6') ? true : false ">
              <span *ngIf="element.promiseflags">
                <mat-icon class="example-tab-icon" style="color:gray"
                  title="You can no longer opt-in of this renewal as the renewal date has passed.">build</mat-icon>
              </span>
              <span *ngIf="!element.promiseflags">
                <mat-icon class="example-tab-icon" title="OPT IN" (click)="optinDialog(element)">build</mat-icon>
              </span>
            </span>

            <!-- ***OPT OUT** !-->
            <span *ngIf="element.status_id == '2' || element.status_id == '3' || element.status_id == '7'">
              <span *ngIf="element.Freezedateflags">
                <i class="fa fa-chain-broken example-tab-icon" style="color:gray"
                  title="You can no longer opt-out of this renewal as the renewal date has passed."></i>
              </span>
              <span *ngIf="!element.Freezedateflags">
                <i class="fa fa-chain-broken example-tab-icon" title="OPT OUT" (click)="optoutDialog(element)"
                  aria-hidden="true"></i>
              </span>
            </span>
          </div>
          <!--Reseller Icons-->
          <div class="subrow_3" *ngIf="element.tiertype == 'T2'">
            <span *ngIf="element.status_id == '2' || element.status_id == '3' || element.status_id == '7'">
              <span *ngIf="!element.promiseflags && PoSubmitFlag">
                <mat-icon class="example-tab-icon" title="PO Submit" (click)="resellerPoSubmitDialog(element)">check
                </mat-icon>
              </span>
              <span *ngIf="element.promiseflags && PoSubmitFlag">
                <mat-icon class="example-tab-icon" style="color:gray"
                  title="You can no longer po-submit of this renewal as the renewal date has passed.">check</mat-icon>
              </span>
            </span>
            <span *ngIf="element.status_id == '2' || element.status_id == '3' || element.status_id == '7'">
              <span *ngIf="element.Freezedateflags">
                <i class="fa fa-chain-broken example-tab-icon" style="color:gray"
                  title="You can no longer opt-out of this renewal as the renewal date has passed."></i>
              </span>
              <span *ngIf="!element.Freezedateflags">
                <i class="fa fa-chain-broken example-tab-icon" title="OPT OUT" (click)="resellerOptoutDialog(element)"
                  aria-hidden="true"></i>
              </span>
            </span>
            <span *ngIf="(element.status_id == '2' || element.status_id == '6') ? true : false ">
              <span *ngIf="element.promiseflags">
                <mat-icon class="example-tab-icon" style="color:gray"
                  title="You can no longer opt-in of this renewal as the renewal date has passed.">build</mat-icon>
              </span>
              <span *ngIf="!element.promiseflags">
                <mat-icon class="example-tab-icon" title="OPT IN" (click)="resellerOptinDialog(element)">build
                </mat-icon>
              </span>
            </span>
          </div>
        </div>
        <!-- <span *ngIf="element.status_name == 'OptedOut'">
                  <mat-icon class="example-tab-icon" matTooltip="OPT OUT" (click)="optoutDialog(element)">all_out</mat-icon>
              </span>
                <span *ngIf="element.status_name == 'PO Submitted' || element.status_name == 'OptedIn'">
                  <mat-icon class="example-tab-icon" title="OPT In" (click)="optinDialog(element)">build</mat-icon>
                </span> -->
        <!-- <div *ngIf="element.status_name == 'PO Promised' || element.status_name == 'Order Pending'"></div> -->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef style="padding-right: 30px;"> Email </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <div class="email_style" matTooltipClass="email-tooltip" matTooltip="{{element.email_id}}">{{element.email_id}}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="t1linkid">
      <mat-header-cell *matHeaderCellDef> Tier1 </mat-header-cell>
      <mat-cell *matCellDef="let element" style="height:120px;padding-bottom: 24px;" (click)="$event.stopPropagation()">
        <div>
          <div class="subrow_1">{{element.t1soldto}}</div>
          <div class="subrow_2_overlap" matTooltipClass="email-tooltip" matTooltip="{{element.t1name}}"
            [innerHTML]="element.t1name"></div>
          <div class="subrow_3_overlap">{{element.t1linkid}}</div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="t2linkid">
      <mat-header-cell *matHeaderCellDef> Tier2 </mat-header-cell>
      <mat-cell *matCellDef="let element" style="height:120px;padding-bottom: 24px;" (click)="$event.stopPropagation()">
        <div>
          <div class="subrow_1">{{element.t2soldto}}</div>
          <div class="subrow_2_overlap" matTooltipClass="email-tooltip" matTooltip="{{element.t2name}}"
            [innerHTML]="element.t2name"></div>
          <div class="subrow_3_overlap">{{element.t2linkid}}</div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="payer">
      <mat-header-cell *matHeaderCellDef> Payer </mat-header-cell>
      <mat-cell *matCellDef="let element" style="height:120px;padding-bottom:24px;" (click)="$event.stopPropagation()">
        <div>
          <div class="subrow_1" *ngIf="element.new_payer == null">{{element.payer}}</div>
          <div class="subrow_1" *ngIf="element.new_payer != null">{{element.new_payer}}</div>
          <div class="subrow_2_overlap_payer" *ngIf="element.new_payer == null" matTooltipClass="email-tooltip"
            matTooltip="{{element.payer_name}}" [innerHTML]="element.payer_name"></div>
          <div class="subrow_2_overlap_payer"  *ngIf="element.new_payer != null"  matTooltipClass="email-tooltip"
            matTooltip="{{element.new_payer_name}}" [innerHTML]="element.new_payer_name"></div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="End_Customer">
      <mat-header-cell *matHeaderCellDef> End Customer </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <div class="subrow_1 linkHover">
          <a [routerLink] *ngIf="element.endCustomerList.length == 1"
            [innerHTML]="element.endCustomerList && element.endCustomerList.length ? element.endCustomerList[0]['endcustomer_name']:''"></a>
          <a [routerLink] *ngIf="element.endCustomerList.length > 1">Multiple</a>
          <div class="hover_wrapper">
            <table class="table-sm">
              <tr>
                <th>Name</th>
                <th>Id</th>
              </tr>
              <tr *ngFor="let data of element.endCustomerList" class="tr_data_style">
                <td [innerHTML]="data.endcustomer_name"></td>
                <td>{{data.endcustomer_id}}</td>
              </tr>
            </table>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandCollapse">
      <mat-header-cell *matHeaderCellDef class="matTableHeader"> </mat-header-cell>
      <mat-cell *matCellDef="let element" class="matTableCell" style="height:120px;">
        <button mat-icon-button color="primary" *ngIf="!element.close">
          <!-- <svg class="icon icon-minus">
              <use attr.xlink:href="{{service.getAssetsUrl()}}svg/symbol-defs.svg#icon-plus"></use>
            </svg> -->
          <i class="material-icons" style="color: red;">
            add
          </i>
        </button>
        <button mat-icon-button color="primary" *ngIf="element.close">
          <!-- <svg class="icon icon-minus">
            <use attr.xlink:href="{{service.getAssetsUrl()}}svg/symbol-defs.svg#icon-minus"></use>
          </svg> -->
          <i class="material-icons" style="color: red;">
            remove
          </i>
        </button>
      </mat-cell>
    </ng-container>
    <!-- *matHeaderRowDef="displayedColumns;sticky: true" -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" [cdkDetailRow]="row"
      [cdkDetailRowTpl]="tpl" (toggleChange)="onToggleChange($event, row)"
      (click)="chasedetails(row.autorenew_id, row.tiertype)">
    </mat-row>
  </mat-table>


  <div *ngIf="(autorenewdashboard.page.totalRecords == 0)">
    <div class="search_above_message">
      <span class="search_no_results">No Data Found</span>
    </div>
  </div>
</div>

<mat-paginator #paginator [length]="autorenewdashboard?.page?.totalRecords" [pageIndex]="autorenewdashboard.pageNumber"
  [pageSize]="autorenewdashboard.pageSize" showFirstLastButtons [pageSizeOptions]="[5, 10, 20, 50]"
  (page)="getPaginationResult()">
</mat-paginator>
<!-- </div> -->
<div>


  <ng-template #tpl let-element>
    <div class="mat-row" [@detailExpand] style="overflow: hidden">
      <div class="table-accordion"
        style="grid-template-columns: 1fr!important; border: 1px solid darkgrey;padding: 10px;min-width:100%">
        <p class="quotes_title">Quotes Details</p>
        <div class="accordion-full">
          <div class="wrapper" *ngIf="element">
            <div class="example-container">
              <mat-table #table [dataSource]="quoteDetails" style="border: 1px solid grey;">

                <ng-container matColumnDef="quote_id">
                  <mat-header-cell *matHeaderCellDef> Quote ID </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word;">
                    <p><a style="color: blue;" (click)="goToQuotes(element)">{{element.parent_QUOTE_ID}}</a></p>
                    <!-- <p *ngIf="element.is_eligible == 'N'" >{{element.parent_QUOTE_ID}}</p> -->
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="expiring_contractnumber">
                  <mat-header-cell *matHeaderCellDef> Contract Number </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word;">
                    <p><a style="color: blue;" (click)="goToContracts(element)">{{element.expiring_contractnumber}}</a>
                    </p>
                    <!-- <p *ngIf="element.is_eligible == 'N'" >{{element.expiring_contractnumber}}</p> -->
                    <!-- {{element.expiring_contractnumber}} -->
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="contract_expiry_date">
                  <mat-header-cell *matHeaderCellDef> Contract Expiry Date </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word;">
                    {{element.contract_expiry_date | date: globalDateFormat.dateformat}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="t1linkid">
                  <mat-header-cell *matHeaderCellDef> Tier1</mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word;" [innerHTML]="element.t1name">
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="t2linkid">
                  <mat-header-cell *matHeaderCellDef> Tier2 </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word;" [innerHTML]="element.t2name">
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="includePromotion">
                  <mat-header-cell *matHeaderCellDef> Include Promotion </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word;">
                    {{element.is_promotion_applied}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="quoteSubStatusName">
                  <mat-header-cell *matHeaderCellDef> Opt In/Out </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word;">
                    <div *ngIf="element.quote_sub_status == '5' || element.quote_sub_status == '7'" style="color:green">
                      IN</div>
                    <div *ngIf="element.quote_sub_status == '6'" style="color:red">OUT</div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total_contract_value">
                  <mat-header-cell *matHeaderCellDef> Quote Price </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word">
                    <div *ngIf="element.tiertype">
                      {{element.currency_code}}
                      {{element.tiertype == 'T2' ? element.avaya_list_price :  element.avaya_net_price}}
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="End_Customer_Name">
                  <mat-header-cell *matHeaderCellDef> End Customer Name </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word">
                    {{element.endcustomer_name | decodeHtmlEntities}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Quote_status">
                  <mat-header-cell *matHeaderCellDef> Quote Status </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="word-break:break-word">
                    {{element.quoteSubStatusName}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="subdisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: subdisplayedColumns; let element" class="element-row"
                  [ngClass]="{ 'ineligible-row': element.is_eligible === 'N'}">
                </mat-row>
              </mat-table>
              <div *ngIf="(quoteDetails == 0)">
                <div class="search_above_message">
                  <span class="search_no_results">No Data Found</span>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </ng-template>